@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #000000;
    width: 100%;
    
}
header h1{
    text-align: center;
    color: white;
    padding: 1em;
}

#wrapper{
    min-width: 600px;
    width: 60%;
    margin: auto;
}

.slideShow{

    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide{
    margin-top: 2em;
    display: none;
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 44%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #717171;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #000000;
}

.slide img{
    max-width: 100%;
    max-height: 400px;
}

p{
    margin: 2em;
    text-align: center;
}

footer{
    text-align: center;
    padding: 2em;
}

